/*
    @package CashMoney-NFT
    --------------------------------------------------
    |   FORM STYLES                                  |
    --------------------------------------------------
*/

.contact-form {
    display: flex;
    flex-direction: column;
    margin: 20px auto 40px;
    width: 90%;

    fieldset {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        position: relative;
        width: 100%;

        label {
            color: $grey-medium;
            display: block;
            font-size: 1.4em;
            margin-bottom: 5px;
            width: 100%;
    
            span {
                color: $red;
                font-size: 0.9em;
                font-style: italic;
                font-weight: 100;
            }
    
            &.error {
                color: $red;
            }
        }
    
        input[type="email"], input[type="text"] {
            align-self: flex-start;
            background: white;
            border: 1px solid $grey-medium;
            color: $grey-black !important;
            font-family: 'Avenir', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.6em;
            outline: none !important;
            padding: .5em 1em;
            width: 100%;
    
            &:active {
                border-color: $grey-black;
            }
            &:focus {
                border-color: $grey-black;
            }
        }
    
        textarea {
            background: white;
            border: 1px solid $grey-medium;
            color: $grey-black;
            font-family: 'Avenir', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.6em;
            outline: none !important;
            padding: .5em 1em;
            resize: none;
            width: 100%;
    
            &:active {
                border-color: $grey-black;
            }
            &:focus {
                border-color: $grey-black;
            }
        }
    
        button {
            align-self: flex-end;
        }
    
        &.error {
            input[type="email"], input[type="text"] {
                background: lighten($red, 50);
                border: 1px solid $red;
        
                &:active {
                    background: white;
                    border-color: $grey-black;
                }
                &:focus {
                    background: white;
                    border-color: $grey-black;
                }
            }
        
            label {
                color: $red;
            }
        
            textarea {
                background: lighten($red, 50);
                border: 1px solid $red;
        
                &:active {
                    background: white;
                    border-color: $grey-black;
                }
                &:focus {
                    background: white;
                    border-color: $grey-black;
                }
            }
    
            .field-msg {
                color: $red;
                display: block;
            }
    
        }
    
        .field-msg {
            bottom: -15px;
            color: $grey;
            display: none;
            font-size: .9em;
            font-style: italic;
            font-weight: bold;
            left: 1.1em;
            line-height: 1.2;
            position: absolute;
            width: 100%;
    
            &.js-form-error {
                bottom: 0px;
                clear: right;
                color: $red;
                display: none;
                left: unset;
                padding-top: 10px;
                position: relative;
                text-align: center;
                width: 100%;
    
                &.show {
                    display: block;
                }
            }
            &.js-form-submission {
                bottom: 0px;
                clear: both;
                color: $grey;
                display: none;
                left: unset;
                padding-top: 10px;
                position: relative;
                text-align: center;
                width: 100%;
                
                &.show {
                    display: block;
                }
            }
            &.js-form-success {
                bottom: 0;
                clear: right;
                color: $green;
                display: none;
                left: unset;
                padding-top: 10px;
                position: relative;
                text-align: center;
                width: 100%;
                
                &.show {
                    display: block;
                }
            }
        }
    }

    
}

@media screen and (min-width: 360px) {
    .contact-form {
        margin: 30px auto 40px;
        width: 90%;
    
        fieldset {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
    
            label {
                font-size: 1.6em;
                margin-bottom: 8px;
        
                span {
                    font-size: 1em;
                }
            }
        
            input[type="email"], input[type="text"] {
                font-size: 1.6em;
                outline: none !important;
                padding: .6em 1em;
                width: 100%;
            }
        
            textarea {
                font-size: 1.6em;
                padding: .6em 1em;
            }
        
            .field-msg {
                bottom: -20px;
                display: none;
                font-size: 1.2em;
                font-style: italic;
                font-weight: bold;
                left: 1.1em;
                line-height: 1.2;
        
                &.js-form-error {
                    bottom: 0px;
                    clear: right;
                    display: none;
                    left: unset;
                    padding-top: 10px;
                }
                &.js-form-submission {
                    bottom: 0px;
                    clear: both;
                    display: none;
                    left: unset;
                    padding-top: 10px;
                }
                &.js-form-success {
                    bottom: 0;
                    clear: right;
                    display: none;
                    left: unset;
                    padding-top: 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 375px) {
    
}

@media screen and (min-width: 410px) {
    .contact-form {
        margin: 30px auto 40px;
        width: 90%;
    
        fieldset {
            display: flex;
            flex-direction: column;
            margin-bottom: 45px;
    
            label {
                font-size: 1.8em;
                margin-bottom: 8px;
        
                span {
                    font-size: 1em;
                }
            }
        
            input[type="email"], input[type="text"] {
                font-size: 1.8em;
                outline: none !important;
                padding: .7em 1em;
                width: 100%;
            }
        
            textarea {
                font-size: 1.8em;
                padding: .7em 1em;
            }
        
            .field-msg {
                bottom: -25px;
                display: none;
                font-size: 1.4em;
                font-style: italic;
                font-weight: bold;
                left: 1.1em;
                line-height: 1.2;
        
                &.js-form-error {
                    bottom: 0px;
                    clear: right;
                    display: none;
                    left: unset;
                    padding-top: 10px;
                }
                &.js-form-submission {
                    bottom: 0px;
                    clear: both;
                    display: none;
                    left: unset;
                    padding-top: 10px;
                }
                &.js-form-success {
                    bottom: 0;
                    clear: right;
                    display: none;
                    left: unset;
                    padding-top: 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 425px) {
    
}

@media screen and (min-width: 540px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1280px) {
    
}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1600px) {

}

@media screen and (min-width: 1920px) {

}