/*
    @package CashMoney-NFT
    --------------------------------------------------
    |   MAIN LAYOUT STYLES                           |
    --------------------------------------------------
*/

body {
    background: #404040;
    background-image: url("./images/desktop_marble.png");
    background-repeat: repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

main {
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;

    .nft-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 90%;
    }
}

.border-height-thin {
    content: '';
    height: 1px;
    margin: 0 auto;
    width: 90%;
}

.border-height-3 {
    content: '';
    height: 3px;
    margin: 0 auto;
    width: 90%;
}

.border-height-5 {
    content: '';
    height: 5px;
    margin: 0 auto;
    width: 90%;
}
.border-height-7 {
    content: '';
    height: 7px;
    margin: 0 auto;
    width: 90%;
}
.border-height-10 {
    content: '';
    height: 10px;
    margin: 0 auto;
    width: 90%;
}

.border-token-height-50 {
    background: url("./images/token_bg.png") 0 0 repeat-x;
    background-size: contain;
    content: '';
    height: 60px;
    margin: 10px auto;
    width: 90%;
}



.gold-gradient {
    background: linear-gradient(to right, rgb(216,143,40) 0%, rgb(251, 241, 125) 19.8529%, rgb(214, 151, 40) 33.5784%, rgb(165, 114, 42) 47.3039%, rgb(245, 204, 106) 68.1373%, rgb(214, 151, 40) 87.0098%, rgb(245, 204, 106) 100%);
}

@media screen and (min-width: 360px) {
    .border-height-thin {
        content: '';
        height: 2px;
        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (min-width: 375px) {
    
}

@media screen and (min-width: 410px) {
    .border-height-thin {
        content: '';
        height: 3px;
        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (min-width: 425px) {
    
}

@media screen and (min-width: 540px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1280px) {
    
}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1600px) {

}

@media screen and (min-width: 1920px) {

}