/*
    @package CashMoney-NFT
    --------------------------------------------------
    |   LINK STYLES                                  |
    --------------------------------------------------
*/

.download-link {
    color: white;
    font-family: 'Avenir', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

    &:visited {
        color: white;
        text-decoration: none;
    }
}

.grey-link {
    color: $grey;

    &:visited {
        color: $grey;
    }
}

@media screen and (min-width: 360px) {
    
}

@media screen and (min-width: 375px) {
    
}

@media screen and (min-width: 410px) {
    
}

@media screen and (min-width: 425px) {
    
}

@media screen and (min-width: 540px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1280px) {
    
}

@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1600px) {

}

@media screen and (min-width: 1920px) {

}