/*
    @package CashMoney-NFT
    --------------------------------------------------
    |   COLOR VARIABLES                              |
    --------------------------------------------------
*/

$grey: rgb(153, 153, 153);
$grey-black: rgb(34, 34, 34);
$grey-dark: rgb(64, 64, 64);
$grey-light: rgb(230, 231, 232);
$grey-medium: rgb(204, 204, 204);

$red: rgb(172, 60, 61);
$green: rgb(28, 164, 105);
$orange: rgb(246, 133, 31);
$yellow: rgb(247, 187, 23);